@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is a website ment to make characters and monsters and, have them battle to the death! 
    This way simple lengthy fights can be avoided.   
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Characters</h2>
        <p>
            Add Character Button will be here
        </p>
    </div>
    <div class="col-md-4">
        <h2>Monsters</h2>
        <p>Add monster here</p>
    </div>
    <div class="col-md-4">
        <h2>Run Simulation</h2>
        <p>Run monster here</p>
    </div>
</div>